.chart-body {
  background-color: white;
  padding: 20px;
}
.news-headeing-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.chart-title {
  text-align: center;
}
.chart-row {
  margin-left: 100px;
}
.news-title {
  padding: 1rem;
  width: 70%;
}
.crypto-headeing-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.provider-container {
  display: flex;
  justify-content: space-between;
}
.provider-name {
  margin-left: 10px;
}

.select-news {
  width: 200px;
}
.news-card {
  min-height: 300px !important;
}
.news-image-container {
  display: flex !important;
  justify-content: space-between !important;
}

.news-image-container .img {
  width: 100px;
  height: 100px;
}
.news-card p {
  color: black;
  margin: 10px 0px !important;
}
