.login-container {
  background-image: url("../../images/pic1.png");
  background-repeat: none;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  align-items: center;
  height: 86vh;
}

.box {
  border: 1px solid #dfdfdf;
  background-image: linear-gradient(
    -225deg,
    #1fa6f4 38%,
    #f2d118 59%,
    rgb(79, 192, 192) 48%
  );
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
border-radius: 10px;
}
.login-topic{
  color: white;
}

.g-btn {
  width: 100% !important;
  height: 40px !important;
  line-height: 40px !important;
  font-size: 15px !important;
}
.g-btn > div,
.g-btn > div > svg {
  width: 40px !important;
  height: 38px !important;
}

.icon-login{
  position: relative;
  top: 30px;
  z-index: 99;
  font-size: 15px;
  left: 350px;
}
.icons-logins{
  position: relative;
  top: 30px;
  z-index: 99;
  font-size: 15px;
  left: 280px;
}
.icons-login{
  position: relative;
  bottom: 30px;
  z-index: 99;
  font-size: 15px;
  left: 280px;
}
.iconss-login{
  position: relative;
  bottom: 30px;
  z-index: 99;
  font-size: 15px;
  left: 350px;
}
@media screen and (max-width:960px) {
  .icon-login{
    position: relative;
    top: 30px;
    z-index: 99;
    font-size: 15px;
    left: 250px;
  }
  .iconss-login{
    position: relative;
    bottom: 30px;
    z-index: 99;
    font-size: 15px;
    left: 250px;
  }
  .icons-logins{
    position: relative;
    top: 30px;
    z-index: 99;
    font-size: 15px;
    left: 220px;
  }
  .icons-login{
    position: relative;
    bottom: 30px;
    z-index: 99;
    font-size: 15px;
    left: 220px;
  }
  .login-topic{
    color: white;
  }
}